.layout {
    display: flex;
    height: 100dvh;
}

.sidebar {
    width: 200px;
    background-color: #111111;
    padding: 20px;
    color: white;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 20px 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
}

.sidebar a:hover {
    background-color: #333333;
}

.sidebar a.active {
    background-color: #598EDA;
    border-radius: 3px;
}

.sidebar .icon {
    margin-right: 10px;
    opacity: 0.7; 
    color: white; 
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}